
@{
    ViewData["Title"] = "Delete";
}

@model Category

<div class="container">

    <div class="card">
        <div class="card-header">
            <h3>Kayıt Silme İşlemi</h3>
        </div>
        <div class="card-body">
            @Model.CategoryName isimli kayıtı silmek istediğinize emin misiniz?
        </div>
        <div class="card-footer">
            <form method="post" asp-controller="Category" asp-action="Delete">
                <input asp-for="Id" type="hidden" />
                <button class="btn btn-success" type="submit">
                    Onayla
                </button>
                <a asp-controller="Category" asp-action="Index" class="btn btn-primary">
                    Vazgeç
                </a>
            </form>
        </div>
    </div>

</div>
