@{
    ViewData["Title"] = "Index";
}

@model Tag

<div class="container">

    <div class="row">

        <div class="col-4">
            @if (ViewBag.message != null)
            {
                <div class="alert alert-success my-3">
                    @ViewBag.message
                </div>
            }

            <form method="post" asp-controller="Tag" asp-action="Index">

                <div class="mb-3">
                    <label for="tag" class="form-label">Etiket Adı</label>
                    <input asp-for="TagName" type="text" class="form-control" id="tag" placeholder="Etiket Adı Giriniz..">
                    <span asp-validation-for="TagName"></span>
                </div>

                <div class="mb-3">
                    <button class="btn btn-success" type="submit">
                        Kaydet
                    </button>
                </div>

            </form>
        </div>

        <div class="col-8">
            <table class="table table-hover mt-3">
                <thead>
                    <tr>
                        <th>
                            Etiket Adı
                        </th>
                        <th>
                            İşlemler
                        </th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var item in (List<Tag>)ViewBag.Tags)
                    {
                        <tr>
                            <td>@item.TagName</td>
                            <td>
                                <a class="btn btn-secondary" asp-controller="Tag" asp-action="Update" asp-route-id="@item.Id">
                                    Düzenle
                                </a>
                                <a class="btn btn-danger" asp-controller="Tag" asp-action="Delete" asp-route-id="@item.Id">
                                    Sil
                                </a>
                            </td>
                        </tr>
                    }

                </tbody>
            </table>
        </div>
    </div>
</div>

