@{
    ViewData["Title"] = "Create";
}

@model Tag


<div class="container">

    @if (ViewBag.message != null)
    {
        <div class="alert alert-success my-3">
            @ViewBag.message
        </div>
    }

    <form method="post" asp-controller="Tag" asp-action="Update">

        <div class="mb-3">
            <label for="tag" class="form-label">Etiket Adı</label>
            <input asp-for="TagName" type="text" class="form-control" id="tag" placeholder="Etiket Adı Giriniz..">
            <span asp-validation-for="TagName"></span>
        </div>

        <div class="mb-3">
            <button class="btn btn-success" type="submit">
                Kaydet
            </button>
        </div>

    </form>
</div>